.season-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.season-background.active {
    opacity: 1;
}

.season-background.spring {
    background-image: url('../assets/images/season_spring.jpg');
    /* Fallback */
    background-color: #43d41f;
}

.season-background.summer {
    background-image: url('../assets/images/season_summer.jpg');
    /* Fallback */
    background-color: #97c87b;
}

.season-background.autumn {
    background-image: url('../assets/images/season_autumn.jpg');
    /* Fallback */
    background-color: #FFA500;
}

.season-background.winter {
    background-image: url('../assets/images/season_winter.jpg');
    /* Fallback */
    background-color: #ffffff;
}