/* Theme.css */

/* Keyframes for falling animation */
@keyframes fall {
    0% {
        top: -10%;
    }

    100% {
        top: 110%;
    }
}

/* Keyframes for rotation */
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate-reverse {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

/* Keyframes for swaying side to side */
@keyframes sway {
    0% {
        margin-left: 0;
    }

    50% {
        margin-left: 50px;
    }

    100% {
        margin-left: 0;
    }
}

@keyframes sway-reverse {
    0% {
        margin-left: 0;
    }

    50% {
        margin-left: -50px;
    }

    100% {
        margin-left: 0;
    }
}

/* Falling leaf styles */
.falling-leaf {
    position: fixed;
    top: -10%;
    z-index: 1;
    user-select: none;
    pointer-events: none;
    animation-timing-function: linear, linear, ease-in-out;
    animation-iteration-count: infinite, infinite, infinite;
    opacity: 0.8;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
}

/* Falling snow styles */
.falling-snow {
    position: fixed;
    top: -10%;
    z-index: 1;
    user-select: none;
    pointer-events: none;
    animation-timing-function: linear, linear, ease-in-out;
    animation-iteration-count: infinite, infinite, infinite;
    opacity: 0.9;
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.8));
    color: #fff;
}

.theme-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.theme-background.active {
    opacity: 1;
}

.theme-background.spring {
    background-image: url('../assets/images/season_spring.jpg');
    /* Fallback */
    background-color: #43d41f;
}

.theme-background.summer {
    background-image: url('../assets/images/season_summer.jpg');
    /* Fallback */
    background-color: #97c87b;
}

.theme-background.autumn {
    background-image: url('../assets/images/season_autumn.jpg');
    /* Fallback */
    background-color: #FFA500;
}

.theme-background.winter {
    background-image: url('../assets/images/season_winter.jpg');
    /* Fallback */
    background-color: #ffffff;
}