.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}



.puzzle-title {
  display: none;
}

.theme-toggle-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.4);
  border: rgba(255, 255, 255, 0.4);
  border-style: solid 1px;
  border-radius: 10px;
  color: rgb(55, 53, 53);
  font-weight: bold;
  cursor: pointer;
  backdrop-filter: blur(5px);
  z-index: 1000;
  transition: all 0.3s ease;
}

.theme-toggle-btn:hover {
  background: rgba(255, 183, 0, 0.9);
  border-style: solid 1px;
  transform: scale(1.05);
}

/* Mobile Responsive Design */
@media (max-width: 600px) {


  .theme-toggle-btn {
    display: block;
    margin: 10px auto;
    border: solid 1px #999999;
    position: relative;
    top: auto;
    right: auto;
    width: 80px;
    background: rgba(255, 255, 255, 0.4);


    color: rgb(55, 53, 53);
    font-weight: bold;
    cursor: pointer;
    backdrop-filter: blur(5px);
    z-index: 1000;
    transition: all 0.3s ease;
    padding: 10px;
    text-align: center;
  }
}

/* iPhone 13 Pro Max, 12 Pro Max */
@media (max-width: 430px) {}

/* iPhone 13, 12, 11 Pro Max */
@media (max-width: 390px) {}

/* iPhone 11, X, 8 Plus */
@media (max-width: 375px) {}

/* iPhone SE and smaller */
@media (max-width: 320px) {}